# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
# (Arduino libraries that aren't my own source code)
libraries/DS3231_Simple/
libraries/TM1637-1.2.0/

# Visual Studio binaries
gui/KTaNE_Console/KTaNE_Console/obj
gui/KTaNE_Console/KTaNE_Console/bin

# Visual Studio preferences
gui/KTaNE_Console/.vs